!!! 5
%html
  %head
    %title!= page_title 'O U R S I G N A L&sup2;'
    %link{rel: 'icon', href: '/art/favicon.gif'}
    %link{rel: 'stylesheet', href: versioned_url('/css/screen.css'), type: 'text/css'}
    != haml :'_meta'
    != haml :'_javascript'
    - yield_content :head
  %body{id: page_id, class: page_classes}
    #head
      != haml :'_logo_oursignal'
      != haml :'_navigation'
    #body
      != yield
    #ads
	%p
		Hello from below

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-43575607-1', 'locavore-roar.com');
    ga('send', 'pageview');
